
.blocflex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.469);

}
/*
.blocflex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // Cette déclaration sera meilleur quand min() sera mieux supporté
    // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 2rem;
    margin: 2rem;
  }
*/
  .blocflex__article {
    padding: 1rem;
    flex: 1 0 200px;
    border: solid rgb(255, 91, 15) 3px;
    padding: 10px;
    background-color: rgb(58, 58, 92);
    box-shadow: 14px 10px 5px 0px rgba(145,109,194,0.75);
    color: rgb(113, 88, 187);
    border-radius:15px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-image: url(images/chot.jpg);
      
    h2,h5,p{
      margin: 0;
      padding: 0;
    }
  }

  .blocflex__galerie{
    
    flex: 1 0 100%;
  }

  .blocflex__search {
    padding: 1rem;
    flex: 1 0 200px;
    padding: 10px;
    background-color: rgb(58, 58, 92);
    box-shadow: 14px 10px 5px 0px rgba(145,109,194,0.75);
    color: rgb(113, 88, 187);
    border-radius:15px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
      
    h2,h5,p{
      margin: 0;
      padding: 0;
    }
  }

