.menu-lien_footer_1-container{
    display: flex;
    flex-direction: column;
    .menu{
        display: flex;
    flex-direction: column;
    }
}

.menu-lien_footer_2-container{
    display: flex;
    flex-direction: column;
    .menu{
        display: flex;
    flex-direction: column;
    }
}

.menu-lien_footer_3-container{
    display: flex;
    flex-direction: column;
    .menu{
        display: flex;
    flex-direction: column;
    }
}