.menu-entete-container{ // nav
    .menu{// ul
        display: flex;
        list-style-type: none;
        justify-content: space-around;

        .menu-item{// li
            color: #6eff73;

            a{
                display: block;
                background-color: rgba(0, 0, 0, 0.414);
            }
        }
    }
}