.site__footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: orange;
    font-size: 3em;

    .colonne_1{
        display: flex;
        flex-direction: column;
        background-color: rgb(58, 58, 92);
        a{
            font-size: 1rem;
            color: red;
        }

        p{
            margin-left: 2rem;
            font-size: 2rem;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;

        }
        
    }

    .colonne_2{
        background-color: rgb(58, 58, 92);
        a{
            font-size: 1rem;
            color: red;
        }

        p{
            margin-left: 2rem;
            font-size: 2rem;
        }
    }

    .colonne_3{
        background-color: rgb(58, 58, 92);
        a{
            font-size: 1rem;
            color: red;
        }

        p{
            margin-left: 2rem;
            font-size: 2rem;
        }
    }

    .logo_footer{
        display: flex;
        align-items: center;
        padding: 0% 2% 0% 2%;
    }
}

.site__footer section{
    border: 1px solid white;
    flex: 1 1 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: teal;
    
}

#menu-entete{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    list-style: none;
    text-decoration: none;
}