
.search__main{
    
    display: flex;
    flex-direction: column;
    width: 2px;
    flex-wrap: wrap;
    width: 50rem;

    h1{
        font-size: 2rem;
        background-color: rgba(0, 0, 0, 0);
    }

    .paragraphe__recherche{
        color: green;
    }

    
}








    


    





