
.search__main{
    
    width: 100vw;

    h1{
        font-size: 2rem;
        background-color: rgba(0, 0, 0, 0);
    }

    .paragraphe__recherche{
        color: green;
    }

    
}








    


    





