/* ------------------------------- Entete de la  page */

.site-header{
    display: flex;

    flex-direction: column;
    @media screen and (min-width:1000px) {
        padding: 2%;
    }
}



.site__header__logo{
    display: flex;
    justify-content: space-between;
    
    background-color: rgb(58, 58, 92);
    padding-bottom: 2rem;
}



.logomenu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 3%;
    
    @media screen and (min-width:1000px) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    
}

.recherche__input{
    background-color: rgba(193, 125, 193, 0.494);
    border: 7px solid orange;
    padding: 0.2rem;
    

}

.recherche__bouton{
    width: 3rem;
}

#chkMenu:checked ~ .menu-entete-container{
        transform: translateX(0px);
    }

.menu-entete-container{ // nav
    transform: translateX(300px);
    transition: transform 0.5s;

    
    
    @media screen and (min-width: 1000px) {
        transform: translateX(0px);
    }

    .menu{// ul
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (min-width:1000px) {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        

        .menu-item{// li
            color: #6eff73;
            justify-content: flex-end;
            align-items: center;
            
            a{
                display: block;
                background-color: orangered;
                font-size: clamp(0.625rem, 0.4167rem + 0.6667vw, 1.25rem);
                padding: 0.5rem;
                margin: 2%;
                box-shadow: 6px 2px 5px 0px rgba(145,109,194,0.75);
                white-space: nowrap;
                
                @media screen and (min-width:1000px) {
                    padding: 0.5rem;
                    margin: 5%;
                    
                }
                
            }
        }
    }
}

.site__header__h1{
    position: absolute;
    margin-top: -5rem;
    margin-left: 0rem;
    background-color: transparent;
    font-size: 2rem;
    a{
        font-size: 2rem;
    }
}

.site__header__h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 2%;

}

.recherche{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 50px;
}