//Les balises qu'on utilise dans la conversion des fichiers markdown

/*Les balises*/

ul,ol{
    display: flex;
    flex-wrap: wrap;
}

ul>li,
ol>li{

}

ul>li{}

ol>li{}

ul{
    list-style-type: none;
}



ol>li>ol{}

/* ----------------------- pre */

pre{
    
}

code{

}

i{

}

blockquote{}

hr{

}

strong{

}